streamlit
pandas
numpy
plotly
openpyxl
xlsxwriter
pyarrow
streamlit-aggrid
kaleido
python-dateutil
chardet
# optional:
# altair
# polars
# python-dotenv
# cachetools
# tqdm
streamlit>=1.33.0
pandas>=2.0.0
numpy>=1.24.0
scipy>=1.10.0
openpyxl>=3.1.0
XlsxWriter>=3.1.0
